 @font-face {
    font-family: Bluunext;
    src: url(bluunext.woff2), url(bluunext.woff);
}

body {
	font-family: "Bluunext";
	font-size: 24px;
	line-height: 1.25;
	
	background-color: #cfffaf;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 2555, 0));
	color: #333333;
  height: 100vh;
}

h1 {
	font-size: 56px;
}

h1, p {
  width: 400px;
  text-align:  center;
}

section {
  display: flex;
  flex-direction:   column;
  align-items:  center;
  justify-content:   center;
  height: 100vh;
}

footer {
  position:   fixed;
  bottom:  0;
  top:  0;
  width:  100%;
  text-align: center;
  padding: 30px;
}

